```gitignore
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic and Static libraries
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
markdown_parser

# IDEs and Editors config folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp